<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
  <br>
<ul id="signup">
  <p> Fist Name: <%= f.text_field :first_name %></p>
  <br>
  <p>Last Name: <%= f.text_field :lst_name %></p>
  <br>
  <p> Email: <%= f.text_field :email %></p>
  <br>
  <p> Password: <%= f.password_field :password %></p>
  <br>
  <p> Password Confirmation: <%= f.password_field :password_confirmation %></p>
  <br>
  <p id="submit"> <%= f.submit "Submit" %></p>
</ul>

<% end %>