<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
  <br>
<ul id="signup">
  <p> Fist Name </p>
  <p><%= f.text_field :first_name %></p>
  <br>
  <p>Last Name</p>
  <p><%= f.text_field :lst_name %></p>
  <br>
  <p> Email </p>
  <p><%= f.text_field :email %></p>
  <br>
  <p> Password </p>
  <p><%= f.password_field :password %></p>
  <br>
  <p> Password Confirmation </p>
  <p><%= f.password_field :password_confirmation %></p>
  <br>
  <p id="submit"> <%= f.submit "Submit" %></p>
</ul>

<% end %>